@model Boekingssysteem.ViewModels.GebruikerDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<h1>Admin</h1>

<p> Naam: @Model.Naam</p>
<p> Voornaam: @Model.Voornaam</p>
<p> Personeelnummer: @Model.Personeelnummer</p>

<a class="btn btn-primary" asp-action="Index">Terug</a>