@model Boekingssysteem.ViewModels.EditPersoonViewModel

@{
    ViewData["Title"] = "Aanpassen";
}

<div class="alert alert-danger mb-5 visible" role="alert">
    alert wordt getoont bij foutmelding. normaal niet zichtbaar.
</div>

<div class="h-100 d-flex align-items-center justify-content-center">  
    <div BtnCrud>
        <div class="col-sm-12">
            @using (Html.BeginForm("Aanpassen", "Persoon", FormMethod.Post))
            {
                @Html.TextBoxFor(s => s.Personeelnummer)
                <input class="btn btn-primary mb-2" type="submit" value="Zoek adhv personeelsnummer" />
            }
            @using (Html.BeginForm("AanpassenViaID", "Persoon", FormMethod.Post))
            {
                <div class="mb-5">
                    <form asp-action="AanpassenViaID">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group row">
                            <label asp-for="Personeelnummer" for="text" class="col-sm-4 col-form-label">Personeelnummer</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(s => s.Personeelnummer, new { @readonly = "readonly", @class = "form-control" })
                            @*<input asp-for="Personeelnummer" type="text" disabled class="form-control" id="personeelnummer" placeholder="">*@
                        </div>
                            <span asp-validation-for="Personeelnummer" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Naam" for="text" class="col-sm-4 col-form-label">Naam</label>
                            <div class="col-sm-10">
                                <input asp-for="Naam" type="text" class="form-control" id="naam" placeholder="">
                            </div>
                            <span asp-validation-for="Naam" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Voornaam" for="text" class="col-sm-4 col-form-label">Voornaam</label>
                            <div class="col-sm-10">
                                <input asp-for="Voornaam" type="text" class="form-control" id="voornaam" placeholder="">
                            </div>
                            <span asp-validation-for="Voornaam" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="email" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-4 col-form-label">Wachtwoord</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="wachtwoord1" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-4 col-form-label">herhaal wachtwoord</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control mb-4" id="wachtwoord2" placeholder="">
                            </div>
                        </div>

                        <div class="form-group row mt-2">
                            <div class="col-sm-2">Admin</div>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input asp-for="Admin" class="form-check-input" type="checkbox" id="gridCheck1">
                                    <label asp-for="Admin" class="form-check-label" for="gridCheck1">
                                        Selecteer om administrator te maken
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" value="Save" class="btn btn-primary mt-4">Wijzigen</button>
                            </div>
                        </div>
                    </form>
                </div>
            }
            <script type="text/javascript">
                function MeldingSucces(personeelnummer) {
                    alert("De persoon met personeelnummer " + personeelnummer + " is succesvol aangepast!");
                };
            </script>
        </div>
    </div>
</div>


@if (ViewBag.JavaScriptFunction != null)
{
    <script type="text/javascript">
        @Html.Raw(ViewBag.JavaScriptFunction)
    </script>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
