@model Boekingssysteem.ViewModels.AfwezigheidCRUDViewModel

@{
    ViewData["Title"] = "Afwezigheid ingeven";
}

<div class="alert alert-danger mb-5 visible" role="alert">
    alert wordt getoont bij foutmelding. normaal niet zichtbaar.
</div>

<div class="h-100 d-flex align-items-center justify-content-center">
    <div BtnCrud>
        <div class="col-sm-12">
            <div class="mb-5">
                <form asp-action="AanpassenDetail">
                    <div class="@ViewBag.Class @ViewBag.Visibility" role="alert">
                        @ViewBag.Message
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="AfwezigheidID" />
                    <input type="hidden" asp-for="Personeelnummer" />
                    <div class="form-group row">
                        <label asp-for="Begindatum" class="col-sm-4 col-form-label">Begindatum</label>
                        <div class="col-sm-10">
                            <input class="form-control" type"date" data-val="true" asp-for="Begindatum" />
                            <span asp-validation-for="Begindatum" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Einddatum" class="col-sm-4 col-form-label">EindDatum</label>
                        <div class="col-sm-10">
                            <input class="form-control" type"date" data-val="true" asp-for="Einddatum" />
                            <span asp-validation-for="Einddatum" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" value="Aanpassen" class="btn btn-primary mt-4">Aanpassen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary mt-4">Terug naar overzicht</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

