@{
    ViewData["Title"] = "Screen";
}

<div class="MainWindow">
    <h2>Informatica</h2>
    <ul>
        @for (int i = 0; i <= 20; i++)
        {
            @if (i % 2 == 0)
            {
                <li class="grey"><p>naam</p><p class="rechts">aanwezig</p></li>
            }
            else
            {
                <li class="white"><p>naam</p><p class="rechts">aanwezig</p></li>
            }
        }

    </ul>
    <h2>Verpleegkunde</h2>
    <ul>
        @for (int i = 0; i <= 20; i++)
        {
            @if (i % 2 == 0)
            {
                <li class="grey"><p>naam</p><p class="rechts">aanwezig</p></li>
            }
            else
            {
                <li class="white"><p>naam</p><p class="rechts">aanwezig</p></li>
            }
        }

    </ul>
    <h2>Andere</h2>
    <ul>
        @for (int i = 0; i <= 20; i++)
        {
            @if (i % 2 == 0)
            {
                <li class="grey"><p>naam</p><p class="rechts">aanwezig</p></li>
            }
            else
            {
                <li class="white"><p>naam</p><p class="rechts">aanwezig</p></li>
            }
        }

    </ul>
</div>