@model Boekingssysteem.ViewModels.PersoonCRUDViewModel
@{
    ViewData["Title"] = "Aanwezigheid aanpassen";
}

<div class="alert alert-danger mb-5 visible" role="alert">
    alert wordt getoont bij foutmelding. normaal niet zichtbaar.
</div>

<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="col">
        @using (Html.BeginForm("StatusData", "Status", FormMethod.Post))
        {
            <div class="col">
                <div class="mb-5">
                    <div class="form-group">
                        <label class="mr-3">Personeelsnummer: </label>
                        <input class="mr-3" type="text" name="personeelnummer" />
                        <input type="submit" value="Gebruiker zoeken" class="btn btn-primary mb-2" />
                    </div>
                </div>
                <div class="PersoneelInfo">
                    <div class="col">
                        <div class="row">
                            <p>Naam: </p>
                            <p>@ViewBag.naam</p>
                        </div>
                        <div class="row">
                            <p>Voornaam: </p>
                            <p>@ViewBag.voornaam</p>
                        </div>
                        <div class="row">
                            <p>Personeelnummer: </p>
                            <p>@ViewBag.personeelnummer</p>
                        </div>
                        <div class="row">
                            <p>Status: </p>
                            <p>@ViewBag.Aanwezig</p>
                        </div>
                    </div>
                </div>

            </div>
        }
        @using (Html.BeginForm("StatusIndividueel", "Status", FormMethod.Post))
        {         
            <div class="row">
                <form asp-action="StatusAanpassen">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="mt-5 mr-5">
                        <input type="hidden" asp-for="Aanwezig" value="true" />
                        <input type="submit" value="Aanwezig" class="btn btn-primary btn-lg mb-2" asp-for="Aanwezig" id="Aanwezig"/>
                    </div>
                    <div class="mt-5 ml-5">
                        <input type="hidden" asp-for="Aanwezig" value="false" />
                        <input type="submit" value="Afwezig" class="btn btn-primary btn-lg mb-2" asp-for="Aanwezig" id="Aanwezig"/>
                    </div>
                </form>
            </div>
        }
    </div>
</div>