
<div class="alert alert-danger mb-5 visible" role="alert">
    alert wordt getoont bij foutmelding. normaal niet zichtbaar.
</div>

<div class="h-100 d-flex align-items-center justify-content-center">
    <div BtnCrud>
        <div class="col-sm-12">
            <div class="mb-5">
                <form>
                    <div class="form-group row">
                        <label for="text" class="col-sm-4 col-form-label">Naam</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="naam" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="text" class="col-sm-4 col-form-label">Voornaam</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="voornaam" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="text" class="col-sm-4 col-form-label">PersoneelID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="personeelnummer" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-4 col-form-label">Wachtwoord</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="wachtwoord1" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-5 col-form-label">herhaal wachtwoord</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control  mb-4" id="wachtwoord2" placeholder="">
                        </div>
                    </div>

                    <form>
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1">
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                    <option selected>Selecteer een functie</option>
                                    <option value="1">Docent</option>
                                    <option value="2">omnibus</option>
                                    <option value="3">secretariaat</option>
                                </select>
                            </div>
                            <div class="col-auto my-1">
                                <button type="submit" class="btn btn-primary">Toevoegen</button>
                            </div>
                        </div>
                    </form>

                    <div class="form-group row mt-2">
                        <div class="col-sm-2">Admin</div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Selecteer om administrator te maken
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary mt-4">Toevoegen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>